.feeds{
    padding: 20px 0px;
}

.feeds .title{
    font-weight: 700;
}

.feeds .user-background {
    min-height: 200px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: inset 0px 0px 119px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 119px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 119px 0px rgba(0,0,0,0.75);
    margin-bottom: 30px;
}

.share-something{
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(224, 224, 224);
}

.share-something textarea{
    border-radius: 10px;
}

.share-something label{
    font-size: 18px;
    font-weight: 400;
    color: #7b7b7bee;
}

.share-something .share-button{
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.post-card{
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    margin: 40px 0px;
}

.post-card .post-header{
    display: flex;
    align-items: center;
}

.post-card .post-header .post-user{
    margin-top: 10px;
}

.post-card .post-header h5{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.post-card .post-header p{
    font-size: 14px;
    color: #5b5b5bee;
}

.post-card .post-header img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0px 15px 0px 0px;
}

.post-card .post-body{
    padding: 20px 0px;
}

.post-card .post-body p{
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: #282828;
}

.post-card .post-image img{
    border-radius: 20px;
}

.post-card .post-buttons button{
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    color: #717171ee;
}

.post-card .post-buttons button i{
    margin-right: 5px;
    font-size: 16px;
}