.feeds{
    padding: 20px 0px;
}

.feeds .title{
    font-weight: 700;
}

.feeds .user-background {
    min-height: 200px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: inset 0px 0px 119px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 119px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 119px 0px rgba(0,0,0,0.75);
    margin-bottom: 30px;
}

.share-something{
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(224, 224, 224);
}

.share-something textarea{
    border-radius: 10px;
}

.share-something label{
    font-size: 18px;
    font-weight: 400;
    color: #7b7b7bee;
}

.share-something .share-button{
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.post-card{
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    margin: 40px 0px;
}

.post-card .post-header{
    display: flex;
    align-items: center;
}

.post-card .post-header .post-user{
    margin-top: 10px;
}

.post-card .post-header h5{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.post-card .post-header p{
    font-size: 14px;
    color: #5b5b5bee;
}

.post-card .post-header img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0px 15px 0px 0px;
}

.post-card .post-body{
    padding: 20px 0px;
}

.post-card .post-body p{
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: #282828;
}

.post-card .post-image img{
    border-radius: 20px;
}

.post-card .post-buttons button{
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    color: #717171ee;
}

.post-card .post-buttons button i{
    margin-right: 5px;
    font-size: 16px;
}

.message-card{
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    display: flex;
    margin: 20px 0px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(131, 131, 131, 0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(131, 131, 131, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(131, 131, 131, 0.3);
}

.message-card .user-info{
    min-width: 125px;
    max-width: 200px;
}

.message-card h4{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.message-card p{
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.message-card .user-image img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0px 15px 0px 0px;
}

.message-card .last-message{
    width: 425px;
}

.message-card .time{
    font-size: 13px;
    font-weight: 600;
}

.message-card .clean-message{
    border: none;
    background-color: rgb(255, 68, 68);
    padding: 12px 17px;
    border-radius: 10px;
    color: white;
}

.message-card .message-box{
    background-color: #f5f5f5ee;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 10px;
}

.message-card .message-box p{
    color: #707070ee;
    font-weight: 500;
    font-size: 12px;
}


.feeds .friend-card{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0px;
    display: flex;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(131, 131, 131, 0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(131, 131, 131, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(131, 131, 131, 0.3);
}


.feeds .friend-card img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.feeds .friend-card .profile{
    width: 100px;
    margin: 0px 10px;
    flex: 2;
}

.feeds .friend-card h4{
    font-size: 17px;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.feeds .friend-card p{
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #5b5b5bee;
}

.feeds .friend-card button{
    border: none;
    background-color: black;
    color: white;
    margin-right: 10px;
    padding: 10px 15px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}

.feeds .friend-card .remove-friend{
    background-color: rgb(255, 68, 68);
}

.feeds .friend-card .reject-friend{
    background-color: rgb(255, 68, 68);
}

.feeds .friend-card .add-friend{
    background-color: lime;
}

/*
 User config
*/

.config-block{
    padding: 20px 15px;
    border: 2px dashed #d4d4d4; 
    border-radius: 15px;
    margin-bottom: 20px;
}

.config-block span{
    font-size: 20px;
}

.config-block .block-title{
    font-weight: 600;
    font-size: 18px;
}

.config-block .info{
    margin-bottom: 10px;
}

.config-block .change{
    border: none;
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
}

.config-block .input-group{
    height: 50px;
}

.config-block .sub-title{
    font-size: 20px;
}